html
  head
    title Practica Node/Express/Pug/Socket
    meta(name='description', content='Chat page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/styleChat.css')
  body
    h1.border.center Practica Node/Express/Pug/Socket
    h2.center Sala de Chat
    .chat.center
      p#num-users
      .chat-box
        ul#messages
        form(action='')
          input#m(autocomplete='off')
          button Enviar
      a#logout(href='/logout') Salir
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    <script src='/socket.io/socket.io.js'></script>
    script(async, defer, src='/public/client.js')