html
  head
    title Practica Node/Express/Pug/Socket/Sesiones
    meta(name='description', content='Pagina Principal')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/styleIndex.css')
  body
    h1.border.center Practica Node/Express/Pug/Socket/Sesiones
    h2.center#welcome Bienvenido, #{username}!
    a(href='/logout') Volver Inicio
    