body {
  font-family: Arial, sans-serif;
  background-color: steelblue;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1, h2 {
  color:   #000306;
}

h1 {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

/* Archivo: styles.css */
.imgBlob {
  /*width: 100%;  Ajusta el ancho al 100% del contenedor padre */
  max-width: 250px; /* Ancho máximo de la imagen */
  max-height: 250px;
  /*height: auto;  Mantiene la proporción de la imagen */
  border: 2px solid #000; /* Borde negro de 2 píxeles */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 5px 0; /* Margen superior e inferior de 20 píxeles */
  display: block; /* Hace que la imagen se comporte como un bloque */
  object-fit: cover; /* Ajusta el contenido de la imagen */
}

.form-container {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio entre los formularios */
  align-items: stretch; /* Hace que los formularios tengan la misma altura */
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
}

.form-box {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%; /* Ajusta el ancho de cada formulario */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3px;
  opacity: 1; 
  visibility: visible; 
  transition: opacity 0.9s ease-in-out, visibility 0.9s ease-in-out;
}
.form-box.oculto {
  opacity: 0;
  visibility: hidden;
}
.form-box.borra {
  display: none;
  
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.login a {
  display: block;
  padding: 10px 0;
  color: #000204;
  text-decoration: none;
  background-color: #fbfbfb;
}

.login a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  border: 1px solid #ddd;
  margin: 20px 0;
}

p#pug-variable {
  color: #333;
  font-style: italic;
  margin: 10px 0;
}
