body {
    font-family: Arial, sans-serif;
    background-color: steelblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  h1, h2 {
    color: #FFFFFF;
  }
  
  h1 {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 10px;
  }
  
  .center {
    text-align: center;
  }
  
  .chat {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  #num-users {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chat-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: left;
  }
  
  #messages li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  form {
    display: flex;
    margin-top: 10px;
  } 
   
  input#m {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #logout {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    background-color: #fff;
    color: #007BFF;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #logout:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  hr {
    width: 100%;
    border: 1px solid #ddd;
    margin: 20px 0;
  }
   